/* BIG-TABLET TO 1200px (widths smaller than the 1140px row)*/

@media only screen and (max-width:1200px){
    .hero-text-box{
        width: 100%;
        padding:0 2%;
    }
    .row{
        padding: 0 2%;
    }
}


/* SMALL-TABLET TO BIG TABLET: FROM 768px to 1023px */

@media only screen and (max-width:1023px){
    body{ font-size: 18px; }
    section{padding: 60px 0;}
    .long-copy{
        width: 80%;
        margin-left: 10%;
    }

    .steps-box{ margin-top: 10px; }
    .steps-box:last-child{ margin-top: 10px;}
    .work-step{ margin-bottom: 40px; }
    .work-step:last-of-type{ margin-bottom: 60px;}

    .app-screen{ width: 50%;}
    .icon-small{ width:20px; margin-right: 5px;}
    .city-feature{ font-size: 90%;}

    .plan-box{ width: 100%; margin-left: 0%;}
    .plan-price{ font-size: 250%;}

    .contact-form{ width: 80%;}

    .foot-nav-b{ float: left; margin-left: 60%; margin-bottom: 5%;}
   
}



/* SMALL-PHONES TO SMALL-TABLETS: FROM 481PX TO 767px */


@media only screen and (max-width:767px){
    body{ font-size: 16px;}
    section{ padding: 30px 0;}

    .row,.hero-text-box{ padding: 0 4%;}

    .col{
        width: 100%;
        margin: 0 0 4% 0 ;  
    }
    
    header{
        -webkit-animation: slide 30s infinite;
        animation: slide 30s infinite;
        /* background-image: linear-gradient(rgba(0, 0, 0,0.7) ,rgba(0, 0, 0,0.7)), url(../images/phone-11.png); */
    }
    @-webkit-keyframes slide {
        10%{
            background-image: -webkit-gradient(linear ,left top, left bottom ,from(rgba(0, 0, 0,0.7)) ,to(rgba(0, 0, 0,0.7))), url(../images/phone-11.png);
            background-image: linear-gradient(rgba(0, 0, 0,0.7) ,rgba(0, 0, 0,0.7)), url(../images/phone-11.png);
        }
        20%{
            background-image: -webkit-gradient(linear ,left top, left bottom ,from(rgba(0, 0, 0,0.7)) ,to(rgba(0, 0, 0,0.7))), url(../images/phone-10.png);
            background-image: linear-gradient(rgba(0, 0, 0,0.7) ,rgba(0, 0, 0,0.7)), url(../images/phone-10.png);
        }
        30%{
            background-image: -webkit-gradient(linear ,left top, left bottom ,from(rgba(0, 0, 0,0.7)) ,to(rgba(0, 0, 0,0.7))), url(../images/phone-1.png);
            background-image: linear-gradient(rgba(0, 0, 0,0.7) ,rgba(0, 0, 0,0.7)), url(../images/phone-1.png);
        }
        40%{
            background-image: -webkit-gradient(linear ,left top, left bottom ,from(rgba(0, 0, 0,0.7)) ,to(rgba(0, 0, 0,0.7))), url(../images/phone-2.png);
            background-image: linear-gradient(rgba(0, 0, 0,0.7) ,rgba(0, 0, 0,0.7)), url(../images/phone-2.png);
        }
        50%{
            background-image: -webkit-gradient(linear ,left top, left bottom ,from(rgba(0, 0, 0,0.7)) ,to(rgba(0, 0, 0,0.7))), url(../images/phone-3.png);
            background-image: linear-gradient(rgba(0, 0, 0,0.7) ,rgba(0, 0, 0,0.7)), url(../images/phone-3.png);
        }
        60%{
            background-image: -webkit-gradient(linear ,left top, left bottom ,from(rgba(0, 0, 0,0.7)) ,to(rgba(0, 0, 0,0.7))), url(../images/phone-9.png);
            background-image: linear-gradient(rgba(0, 0, 0,0.7) ,rgba(0, 0, 0,0.7)), url(../images/phone-9.png);
        }
        70%{
            background-image: -webkit-gradient(linear ,left top, left bottom ,from(rgba(0, 0, 0,0.7)) ,to(rgba(0, 0, 0,0.7))), url(../images/phone-8.png);
            background-image: linear-gradient(rgba(0, 0, 0,0.7) ,rgba(0, 0, 0,0.7)), url(../images/phone-8.png);
        }
        80%{
            background-image: -webkit-gradient(linear ,left top, left bottom ,from(rgba(0, 0, 0,0.7)) ,to(rgba(0, 0, 0,0.7))), url(../images/phone-6.png);
            background-image: linear-gradient(rgba(0, 0, 0,0.7) ,rgba(0, 0, 0,0.7)), url(../images/phone-6.png);
        }
        90%{
            background-image: -webkit-gradient(linear ,left top, left bottom ,from(rgba(0, 0, 0,0.7)) ,to(rgba(0, 0, 0,0.7))), url(../images/phone-12.jpg);
            background-image: linear-gradient(rgba(0, 0, 0,0.7) ,rgba(0, 0, 0,0.7)), url(../images/phone-12.jpg);
        }
        100%{
            background-image: -webkit-gradient(linear ,left top, left bottom ,from(rgba(0, 0, 0,0.7)) ,to(rgba(0, 0, 0,0.7))), url(../images/phone-5.png);
            background-image: linear-gradient(rgba(0, 0, 0,0.7) ,rgba(0, 0, 0,0.7)), url(../images/phone-5.png);
        }
        0%{
            background-image: -webkit-gradient(linear ,left top, left bottom ,from(rgba(0, 0, 0,0.7)) ,to(rgba(0, 0, 0,0.7))), url(../images/phone-11.png);
            background-image: linear-gradient(rgba(0, 0, 0,0.7) ,rgba(0, 0, 0,0.7)), url(../images/phone-11.png);
        }

        
        


    }
    @keyframes slide {
        10%{
            background-image: -webkit-gradient(linear ,left top, left bottom ,from(rgba(0, 0, 0,0.7)) ,to(rgba(0, 0, 0,0.7))), url(../images/phone-11.png);
            background-image: linear-gradient(rgba(0, 0, 0,0.7) ,rgba(0, 0, 0,0.7)), url(../images/phone-11.png);
        }
        20%{
            background-image: -webkit-gradient(linear ,left top, left bottom ,from(rgba(0, 0, 0,0.7)) ,to(rgba(0, 0, 0,0.7))), url(../images/phone-10.png);
            background-image: linear-gradient(rgba(0, 0, 0,0.7) ,rgba(0, 0, 0,0.7)), url(../images/phone-10.png);
        }
        30%{
            background-image: -webkit-gradient(linear ,left top, left bottom ,from(rgba(0, 0, 0,0.7)) ,to(rgba(0, 0, 0,0.7))), url(../images/phone-1.png);
            background-image: linear-gradient(rgba(0, 0, 0,0.7) ,rgba(0, 0, 0,0.7)), url(../images/phone-1.png);
        }
        40%{
            background-image: -webkit-gradient(linear ,left top, left bottom ,from(rgba(0, 0, 0,0.7)) ,to(rgba(0, 0, 0,0.7))), url(../images/phone-2.png);
            background-image: linear-gradient(rgba(0, 0, 0,0.7) ,rgba(0, 0, 0,0.7)), url(../images/phone-2.png);
        }
        50%{
            background-image: -webkit-gradient(linear ,left top, left bottom ,from(rgba(0, 0, 0,0.7)) ,to(rgba(0, 0, 0,0.7))), url(../images/phone-3.png);
            background-image: linear-gradient(rgba(0, 0, 0,0.7) ,rgba(0, 0, 0,0.7)), url(../images/phone-3.png);
        }
        60%{
            background-image: -webkit-gradient(linear ,left top, left bottom ,from(rgba(0, 0, 0,0.7)) ,to(rgba(0, 0, 0,0.7))), url(../images/phone-9.png);
            background-image: linear-gradient(rgba(0, 0, 0,0.7) ,rgba(0, 0, 0,0.7)), url(../images/phone-9.png);
        }
        70%{
            background-image: -webkit-gradient(linear ,left top, left bottom ,from(rgba(0, 0, 0,0.7)) ,to(rgba(0, 0, 0,0.7))), url(../images/phone-8.png);
            background-image: linear-gradient(rgba(0, 0, 0,0.7) ,rgba(0, 0, 0,0.7)), url(../images/phone-8.png);
        }
        80%{
            background-image: -webkit-gradient(linear ,left top, left bottom ,from(rgba(0, 0, 0,0.7)) ,to(rgba(0, 0, 0,0.7))), url(../images/phone-6.png);
            background-image: linear-gradient(rgba(0, 0, 0,0.7) ,rgba(0, 0, 0,0.7)), url(../images/phone-6.png);
        }
        90%{
            background-image: -webkit-gradient(linear ,left top, left bottom ,from(rgba(0, 0, 0,0.7)) ,to(rgba(0, 0, 0,0.7))), url(../images/phone-12.jpg);
            background-image: linear-gradient(rgba(0, 0, 0,0.7) ,rgba(0, 0, 0,0.7)), url(../images/phone-12.jpg);
        }
        100%{
            background-image: -webkit-gradient(linear ,left top, left bottom ,from(rgba(0, 0, 0,0.7)) ,to(rgba(0, 0, 0,0.7))), url(../images/phone-5.png);
            background-image: linear-gradient(rgba(0, 0, 0,0.7) ,rgba(0, 0, 0,0.7)), url(../images/phone-5.png);
        }
        0%{
            background-image: -webkit-gradient(linear ,left top, left bottom ,from(rgba(0, 0, 0,0.7)) ,to(rgba(0, 0, 0,0.7))), url(../images/phone-11.png);
            background-image: linear-gradient(rgba(0, 0, 0,0.7) ,rgba(0, 0, 0,0.7)), url(../images/phone-11.png);
        }

        
        


    }
    .main-nav{ display: none; /*float: left;*/ margin-top: 30px; margin-left: 0;}
    .mobile-nav-icon{display: inline-block;}
    .main-nav li{ display: block;}
    .main-nav li a{ display: block; border: 0; padding: 10px 0; font-size: 100%;}
    .sticky .main-nav { margin-top: 10px; margin-left: 0;}
    .sticky .main-nav li a{ padding: 10px 0;}
    .sticky .mobile-nav-icon{ margin-top: 10px;}
    .sticky .mobile-nav-icon i {  color: #555;}
    .sticky .logo-black{ width: 20%;}
    
    .class-photo img{ -webkit-transform: scale(1); transform: scale(1);}

    h1{ font-size: 180%; }
    h2{ font-size: 150%; }

    .long-copy{ width: 100%; margin-left: 0%;}

    .work-step{ margin-bottom: 20px;}
    .work-step:last-of-type{ margin-bottom: 20px;}
    .work-step div{
        height: 40px;
        width: 40px;
        text-align: center;
        padding: 4px;
        font-size: 120%;
        margin-right: 15px;
    }
    .steps-box:first-child{
        text-align: center;
        
    }
    .app-screen{ width: 40%;}
   
    .plan-box{
        width: 100%;
        margin: 5% 0%;
        
    } 
    w
    
     

    header{  background-repeat: round;}
    .section-plans .span-1-of-4 {
        width: 90%;
        float: none;
        margin: 0 auto;
        
    }
    em{ font-size: 60%;}
    .logo{
        width: 50%;
        height: 50%;
        margin-top: 10px;
    }
    /* .section-features .span-1-of-4 ,
     .section-features .span-2-of-4 ,
     .section-features .span-3-of-4 ,
      .section-features .span-4-of-4{ margin: 0; padding: 0; } */
      .section-features .row .col{ margin:  10% 25% 5% 25%; max-width: 60%; padding: 5%;  }
      .section-cities .col{ margin: 10% 10% 10% 10%; max-width: 80%; padding: 10%; }
      .section-testimonials .span-1-of-4{ float: none;}
      .section-testimonials cite{ margin-top:10%; margin-bottom: 30%;}
      .section-testimonials .rowt{ margin-top: 20%; }
      .section-testimonials .r-mama{ margin-bottom: 0; }
      .class-showcase li{ width: 100%;}
      .footer-nav li{ width: 100%; padding: 2%; display: block; }
      .foot-nav-a{ float: left;}
      .foot-nav-b{ float: left; margin-left: 20%; margin-bottom: 5%; }
      .social-links li{ width: 100%; font-size: 80%; display: block;}
      footer .row-2{ margin: 20px 0 -10%;} 
      footer .row-2 p{ font-size: 72%;}
      .social-links{ margin-right: -60%;}
      .ion-social-facebook{ color: #3b5998; }
    .ion-social-twitter{ color: #00aced; }
    .ion-social-googleplus{ color: #dd4b39; }
    .ion-social-instagram{
        display: none;
}
.insta-icon{
    width: 24px;
    display: block;
    margin-right: 0;
}
}


/* SMALL-PHONES: 0 TO 480px */

@media only screen and (max-width:480px){
    section{ padding: 25px 0;}
    .contact-form{ width: 100%;}
    }

   
